---
UseColor: true

Checks: >
  -*
  , readability-*
  , bugprone-*
  , clang-analyzer-*
  , performance-*
  , modernize-*
  , misc-const-correctness
  , -modernize-use-trailing-return-type
  , -readability-magic-numbers
  , -readability-braces-around-statements
  , -readability-convert-member-functions-to-static
  , -readability-implicit-bool-conversion
  , -bugprone-easily-swappable-parameters
  , -readability-math-missing-parentheses

# , cppcoreguidelines-owning-memory
# , cppcoreguidelines-*
# , misc-*

WarningsAsErrors: >
  bugprone-*
  , clang-analyzer-*
  , modernize-*
  , performance-*

HeaderFilterRegex: '^src/.*$'

HeaderFileExtensions:
  - h
  - hpp
ImplementationFileExtensions:
  - c
  - cpp

CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MethodCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  modernize-use-nullptr.CheckSmartPointers: true
  modernize-use-nullptr.IgnoreMacros: false
  # Use 'auto' when it improves readability
  modernize-use-auto.MinTypeNameLength: 8
  readability-container-size-empty.IgnoreQtContainers: true
  # Performance optimizations
  performance-noexcept-move-constructor.StrictMode: true
  performance-trivially-destructible.StrictMode: true
  modernize-use-override.IgnoreDestructors: false
  modernize-use-override.IgnoreVirtualWithFinal: true
  # Clang Analyzer settings
  clang-analyzer-optin.cplusplus.VirtualCall: true
  clang-analyzer-optin.cplusplus.UninitializedObject: true
...
